<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {#ADMIN BAR#}
    <link rel="stylesheet" href="{{ asset('/libs/themify/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('/libs/css/waves.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/libs/admin/css/style.css') }}">


    <link rel="stylesheet" href="{{ asset('/libs/a_jquery/ui/datepicker/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    {#Install Main css for Work#}
    <link rel="stylesheet" href="{{ asset('/libs/boot/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/libs/boot/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/libs/boot/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/libs/boot/css/bootstrap-dark.min.css') }}">

    {#CALENDAR#}
    <link rel="stylesheet" href="{{ asset('/libs/css/calendar.css') }}">

    <link rel="stylesheet" href="{{ asset('/libs/css/style.css') }}">

    {#Install additions css if u need#}
    {% block css %}{% endblock %}

</head>
<body>


<div class="wrapper">

    {% include '@headers_pizza/admin-side-bar.html.twig' %}

    <div class="container content-area">


        {#HEADER#}
        {% include '@headers_pizza/header-main.html.twig' %}

        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>

        {#CONTAINER MAIN#}
        {% block container %}{% endblock %}


    </div>
</div>


    {#Add main scripts for app#}
    <script src="{{ asset('/libs/a_jquery/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ asset('/libs/a_jquery/ui/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('/libs/boot/js/prooper.min.js') }}"></script>
    <script src="{{ asset('/libs/boot/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/libs/boot/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('/libs/a_jquery/collection/jquery.collection.js') }}"></script>

    {#ADMIN BAR#}
    <script src="{{ asset('/libs/a_jquery/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('/libs/js/waves.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
            });
            Waves.init();
            Waves.attach('.wave-effect', ['waves-button']);
            Waves.attach('.wave-effect-float', ['waves-button', 'waves-float']);
        });
        $(function() {
            $('.slimescroll-id').slimScroll({
                height: '100vh'
            });
        });
    </script>

    {#CALENDAR#}
    <script src="{{ asset('/libs/js/moment.min.js') }}"></script>
    <script src="{{ asset('/libs/js/calendar.js') }}"></script>

    <script src="{{ asset('/libs/js/main.js') }}"></script>

    {#Add addition scripts if u need#}
    {% block js %}{% endblock %}
</body>
</html>