{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}
    <div>
        <p>
            Add WorkLoad for Job Type on some date.
        </p>
    </div>
    <div class="w-50">
        <form name="{{ form.vars.name }}" method="{{ form.vars.method }}">
            <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
            <div>
                <div class="form-group">
                    <label for="exampleSelect1">For Kind Job</label>
                    <select class="form-control w-50" id="kind-job" name="{{ form.jobKind.vars.full_name }}">
                        {% if form.jobKind.vars.data is not empty %}
                            <option value="{{ form.jobKind.vars.data.id }}">{{ form.jobKind.vars.data.job }} - IS SELECTED</option>
                        {% else %}
                            <option value="null">NOT SELECT</option>
                        {% endif %}
                        {% for choice in form.jobKind.vars.choices %}
                            <option value="{{ choice.value }}">{{ choice.label }}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.jobKind.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="cooks_count">Cook Count</label>
                    <input type="number" name="{{ form.cooksCount.vars.full_name }}" value="{{ form.cooksCount.vars.value }}" class="form-control w-50" id="cooks_count" placeholder="Number">
                    {% for error in form.cooksCount.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="input-group date">
                    <div class="form-group">
                        <label for="date_picker">Date</label>
                        <input type="text" name="{{ form.date.vars.full_name }}" value="{{ form.date.vars.value }}" class="form-control" id="date_picker" placeholder="Enter Date">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        {% for error in form.date.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                        {% endfor %}
                    </div>
                </div>

                {#<div class="form-group">#}
                    {#<label for="exampleInputEmail1">Cook Name</label>#}
                    {#<input type="text"#}
                           {#value="{{ form.name.vars.value }}"#}
                           {#name="{{ form.name.vars.full_name }}"#}
                           {#class="form-control{% if form.name.vars.errors is not empty %} is-invalid{% endif %}"#}
                           {#placeholder="Enter Cook's Name">#}
                    {#{% for error in form.name.vars.errors %}#}
                        {#<div class="invalid-feedback">{{ error.message }}</div>#}
                    {#{% endfor %}#}
                {#</div>#}
                <br>
                <button type="submit" class="btn btn-success">Submit</button>

            </div>
        </form>
    </div>

{% endblock %}