{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <table class="table d-inline-block w-50 v-a-top m-r-30">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job Kind</th>
                <th scope="col">Cooks Count</th>
                <th scope="col">Date</th>
                <th scope="col">Controls</th>
            </tr>
        </thead>
        <tbody>

        {% for work in workLoads %}
            <tr>
                <th scope="row">{{ work.id }}</th>
                <td>{{ work.jobKind.job }}</td>
                <td>{{ work.cooksCount }}</td>
                <td>{{ work.date|date("Y-m-d") }}</td>
                <td class="align-self-center p-l-20">
                    <a href="{{ path('workloads_modify', {'id': work.id}) }}" class="m-r-5">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="{{ path('workloads_delete', {'id': work.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    {{ calendar.render() }}

{% endblock %}