.navbar {
    margin-bottom: 15px;
}

.container.content-area {
    margin-top: 0px;
}

#sidebar {
    width: 100vh;
}

.invalid-feedback {
    display: block !important;
}

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center !important;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
    display:block;
    border-radius:0px;
    box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top:-5px;
}
.imgUp
{
    margin-bottom:15px;
}
.del
{
    color: darkcyan;
    position:absolute;
    top:0px;
    right:15px;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}
.imgAdd
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 58px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 15px;
}

.dropdown-menu {
    background-color: #8dadce;

}