{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <div class="card text-white bg-primary mb-3 d-inline-block" style="max-width: 33%;">
        <div class="card-header">Header</div>
        <img src="{{ asset('/libs/images/google.jpg') }}" alt="google" class="img-fluid">
        <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-warning">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            <button type="button" class="btn btn-success">Success</button>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 d-inline-block" style="max-width: 33%;">
        <div class="card-header">Header</div>
        <img src="{{ asset('/libs/images/google.jpg') }}" alt="google" class="img-fluid">
        <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-warning">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            <button type="button" class="btn btn-success">Success</button>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 d-inline-block" style="max-width: 33%;">
        <div class="card-header">Header</div>
        <img src="{{ asset('/libs/images/google.jpg') }}" alt="google" class="img-fluid">
        <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-warning">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            <button type="button" class="btn btn-success">Success</button>
        </div>
    </div>
{% endblock %}