{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <div class="w-50">
        <form name="{{ form.vars.name }}" method="{{ form.vars.method }}">
            <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
            <fieldset>

                <div class="form-group">
                    <label for="exampleInputEmail1">Job Name</label>
                    <input type="text"
                           value="{{ form.job.vars.value }}"
                           name="{{ form.job.vars.full_name }}"
                           class="form-control{% if form.job.vars.errors is not empty %} is-invalid{% endif %}"
                           placeholder="Enter Job Name">
                    {% for error in form.job.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">Job Description</label>
                    <textarea class="form-control{% if form.jobDescription.vars.errors is not empty %} is-invalid{% endif %}"
                              name="{{ form.jobDescription.vars.full_name }}"
                              id="exampleTextarea"
                              rows="4">{{ form.jobDescription.vars.value }}</textarea>
                    {% for error in form.jobDescription.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-success">Submit</button>

            </fieldset>
        </form>
    </div>

{% endblock %}