{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Job Name</th>
            <th scope="col">Job Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
            <th scope="col">Controls</th>
        </tr>
        </thead>
        <tbody>

        {% for job in result %}

            <tr>
                <th scope="row">{{ job.id }}</th>
                <td>{{ job.job }}</td>
                <td>{{ job.jobDescription }}</td>
                <td>{{ job.createdAt|date("Y-m-n H:i:s") }}</td>
                <td>{{ job.modifiedAt|date("Y-m-n H:i:s") }}</td>
                <td class="align-self-center">
                    <a href="{{ path('job_kind_modify', {'id': job.id}) }}" class="m-r-5">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="{{ path('job_kind_delete', {'id': job.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}