{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cook Name</th>
            <th scope="col">Cook Surname</th>
            <th scope="col">Age</th>
            <th scope="col">Living Palace</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
            <th scope="col">Controls</th>
        </tr>
        </thead>
        <tbody>

        {% for cook in cooks %}

            <tr>
                <th scope="row">{{ cook.id }}</th>
                <td>{{ cook.name }}</td>
                <td>{{ cook.surname }}</td>
                <td>{{ cook.age }}</td>
                <td>{{ cook.livingPlace }}</td>
                <td>{{ cook.createdAt|date("Y-m-n H:i:s") }}</td>
                <td>{{ cook.modifiedAt|date("Y-m-n H:i:s") }}</td>
                <td class="align-self-center">
                    <a href="{{ path('cook_modify', {'id': cook.id}) }}" class="m-r-5">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="{{ path('cook_delete', {'id': cook.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}