{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <div class="w-100">

        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="w-25">Cooks</th>
                <th scope="col">Jobs</th>
                <th scope="col">Submit</th>
            </tr>
            </thead>
            {% for form in _massForm %}

                <tbody>
                    <form method="{{ form.vars.method }}">
                        <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
                        <input type="hidden" name="{{ form.id.vars.full_name }}" value="{{ form.id.vars.value }}">
                        <tr>
                            <th scope="row">{{ form.name.vars.value }}</th>
                            <td>
                                <select class="form-control w-50" name="{{ form.jobKind.vars.full_name }}">
                                    {% if form.vars.data.jobKind is not null %}
                                        <option value="{{ form.vars.data.jobKind.id }}">{{ form.vars.data.jobKind.job }}</option>
                                        <option value="">NOT WORKING</option>
                                    {% else %}
                                        <option value="">NOT WORKING</option>
                                    {% endif %}
                                    {% for choice in form.jobKind.vars.choices %}
                                        <option value="{{ choice.value }}">{{ choice.label }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <th scope="row">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </th>
                        </tr>
                    </form>
                </tbody>

            {% endfor %}
        </table>
    </div>

{% endblock %}