{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <div class="w-50">
        <form name="{{ form.vars.name }}" method="{{ form.vars.method }}">
            <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
            <fieldset>

                <div class="form-group">
                    <label for="exampleInputEmail1">Cook Name</label>
                    <input type="text"
                           value="{{ form.name.vars.value }}"
                           name="{{ form.name.vars.full_name }}"
                           class="form-control{% if form.name.vars.errors is not empty %} is-invalid{% endif %}"
                           placeholder="Enter Cook's Name">
                    {% for error in form.name.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Surname</label>
                    <input type="text"
                           value="{{ form.surname.vars.value }}"
                           name="{{ form.surname.vars.full_name }}"
                           class="form-control{% if form.surname.vars.errors is not empty %} is-invalid{% endif %}"
                           placeholder="Enter Cook's Surname">
                    {% for error in form.surname.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Age</label>
                    <input type="number"
                           style="max-width: 100px;"
                           value="{{ form.age.vars.value }}"
                           name="{{ form.age.vars.full_name }}"
                           class="form-control{% if form.age.vars.errors is not empty %} is-invalid{% endif %}"
                           placeholder="Age">
                    {% for error in form.age.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">Living Place</label>
                    <textarea class="form-control{% if form.livingPlace.vars.errors is not empty %} is-invalid{% endif %}"
                              name="{{ form.livingPlace.vars.full_name }}"
                              id="exampleTextarea"
                              placeholder="Cook's Living Place"
                              rows="4">{{ form.livingPlace.vars.value }}</textarea>
                    {% for error in form.livingPlace.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-success">Submit</button>

            </fieldset>
        </form>
    </div>

{% endblock %}