{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <table class="table d-inline-block v-a-top m-r-30">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job Kind</th>
                <th scope="col">Cooks Count</th>
                <th scope="col">Controls</th>
            </tr>
        </thead>
        <tbody>

        {% for workDefault in workLoadsDefaults %}
            <tr>
                <th scope="row">{{ workDefault.id }}</th>
                <td>{{ workDefault.jobKind.job }}</td>
                <td>{{ workDefault.cooksCount }}</td>
                <td class="align-self-center p-l-20">
                    <a href="{{ path('workloads_default_modify', {'id': workDefault.id}) }}" class="m-r-5">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="{{ path('workloads_default_delete', {'id': workDefault.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}