<nav id="sidebar" class="nav-sidebar">
    <ul class="list-unstyled components slimescroll-id" id="accordion">
        <div class="user-profile">
            <div class="dropdown user-pro-body">
                <div><img src="https://placehold.it/300x300" alt="user-img" class="img-circle"></div>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Full Name </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>

        <li class="active">
            <a href="{{ path('pizza_index') }}" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
                <i class="ti-home m-r-10"></i> Home
            </a>
            {#<ul class="collapse list-unstyled" id="homeSubmenu" data-parent="#accordion">#}
                {#<li><a href="#">Home 1</a></li>#}
                {#<li><a href="#">Home 2</a></li>#}
                {#<li><a href="#">Home 3</a></li>#}
            {#</ul>#}
        </li>
        <li>
            {#<a href="#" class="wave-effect">About</a>#}
            <a href="#pageCook" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">Cook</a>
            <ul class="collapse list-unstyled" id="pageCook" data-parent="#pageCook">
                <li><a href="{{ path('cook_index') }}">Cook</a></li>
                <li><a href="{{ path('cook_add') }}">New Cook</a></li>
                <li><a href="{{ path('cook_jobs') }}">Cook's Jobs</a></li>
            </ul>
        </li>
        <li>
            <a href="#pageJobKind" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">Job Kind</a>
            <ul class="collapse list-unstyled" id="pageJobKind" data-parent="#pageJobKind">
                <li><a href="{{ path('job_kind_index') }}">Job Kind</a></li>
                <li><a href="{{ path('job_kind_add') }}">New Job Kind</a></li>
            </ul>
        </li>
        <li>
            <a href="#pageWorkLoads" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">Work Loads</a>
            <ul class="collapse list-unstyled" id="pageWorkLoads" data-parent="#pageWorkLoads">
                <li><a href="{{ path('workloads_index') }}">Work Loads</a></li>
                <li><a href="{{ path('workloads_add') }}">New Work Load</a></li>
            </ul>
        </li>
        <li>
            <a href="#pageWorkLoadsDefault" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">Work Loads <small>Default</small></a>
            <ul class="collapse list-unstyled" id="pageWorkLoadsDefault" data-parent="#pageWorkLoadsDefault">
                <li><a href="{{ path('workloads_default_index') }}">Work Loads</a></li>
                <li><a href="{{ path('workloads_default_add') }}">New Work Load</a></li>
            </ul>
        </li>
        <li>
            <a href="#pageTimeManagement" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">Time Management</a>
            <ul class="collapse list-unstyled" id="pageTimeManagement" data-parent="#pageTimeManagement">
                <li><a href="{{ path('time_management_index') }}">Time Management</a></li>
                <li><a href="{{ path('time_management_add') }}">New Time Management</a></li>
            </ul>
        </li>
        <li>
            <a href="#pageProducts" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">Products</a>
            <ul class="collapse list-unstyled" id="pageProducts" data-parent="#pageProducts">
                <li><a href="{{ path('products_index') }}">Products</a></li>
                <li><a href="{{ path('products_add') }}">New Product</a></li>
            </ul>
        </li>
        {#<li>#}
            {#<a href="#" class=" wave-effect">Portfolio</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="#" class=" wave-effect">Contact</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="login.html" class=" wave-effect">#}
                {#<i class="ti-user m-r-10"></i>Login Page#}
            {#</a>#}
        {#</li>#}
    </ul>
</nav>