<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="menu-toggle-button">
        <a class="nav-link wave-effect" href="#" id="sidebarCollapse">
            <span class="ti-menu"></span>
        </a>
    </div>
    <a class="navbar-brand" href="{{ path('pizza_index') }}">Pizza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('pizza_index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <ul class="navbar-nav ml-auto navbar-top-links">
        <li class="dropdown">
            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="https://placehold.it/200x200" alt="user-img" width="36" class="img-circle">
                <b class="d-none d-sm-inline-block">First name</b></a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <div class="dw-user-box">
                        <div class="u-img"><img src="https://placehold.it/200x200" alt="user"></div>
                        <div class="u-text">
                            <h4>First Last name</h4>
                            <p class="text-muted">user@mail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                    </div>
                </li>
                <div class="dropdown-divider"></div>
                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
</nav>