{% extends '@layouts_pizza/base.html.twig' %}



{% block container %}
    <div class="w-100">
        <form name="{{ form.vars.name }}" method="{{ form.vars.method }}" enctype='multipart/form-data'>
            <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
            <div>
                <script>
                    window.jobKindArray = {{ form.jobKind.vars.choices|json_encode|raw }};
                </script>
                <div class="form-group">
                    <label for="exampleSelect1">For Kind Job</label>
                    <select class="form-control w-50" id="kind-job" name="{{ form.jobKind.vars.full_name }}">
                        {% if form.jobKind.vars.data is not empty %}
                            <option value="{{ form.jobKind.vars.data.id }}">{{ form.jobKind.vars.data.job }} - IS SELECTED</option>
                        {% else %}
                            <option value="null">NOT SELECT</option>
                        {% endif %}
                        {% for choice in form.jobKind.vars.choices %}
                            <option value="{{ choice.value }}">{{ choice.label }}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.jobKind.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="cooks_count">Enter Title for the product</label>
                    <input type="text" name="{{ form.title.vars.full_name }}" value="{{ form.title.vars.value }}" class="form-control{% if form.title.vars.errors is not empty %} is-invalid{% endif %}" id="title" placeholder="Product Title">
                    {% for error in form.title.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">Description</label>
                    <textarea class="form-control{% if form.description.vars.errors is not empty %} is-invalid{% endif %}"
                              name="{{ form.description.vars.full_name }}"
                              id="description"
                              placeholder="Product Description"
                              rows="5">{{ form.description.vars.value }}</textarea>
                    {% for error in form.description.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group collection-image">
                    <large><label class="" for="cooks_count">Add Image To the Product</label></large>

                    {% set options = '<option value="null">NOT SELECT</option>' %}
                    {% for choice in form.productAttachments.children.0.type.vars.choices %}
                        {% set options = options ~ '<option value="' ~ choice.value ~ '">' ~ choice.label ~ '</option>' %}
                    {% endfor %}
                    {%
                        set prototype = '<div class="col-sm-3 imgUp item">
                                        <div class="imagePreview">

                                        </div>
                                        <label class="btn btn-primary">
                                            Upload<input data-upload-image-input name="'~ form.productAttachments.vars.prototype.file.file.vars.full_name ~ '" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                        </label>
                                        <div class="form-group">
                                            <label for="kind-job">Image Type</label>
                                            <select class="form-control" id="kind-job" name="'~ form.productAttachments.vars.prototype.type.vars.full_name ~ '">' ~
                                                options ~
                                            '</select>
                                            <i class="fa fa-times del delete_item"></i>
                                        </div>

                            </div><!-- col-2 -->'
                    %}

                    <div class="form-group collection_container-images">
                        <div class="row collection_holder" data-prototype ="{{ prototype|escape }}">
                            {% set isFirst = true %}
                            {% for attachment in form.productAttachments.children %}
                                    <div class="col-sm-3 imgUp item">
                                        {% dump(attachment.file.file) %}
                                        <div class="imagePreview">

                                        </div>
                                        <label class="btn btn-primary">
                                            Upload<input data-upload-image-input type="file" name="{{ attachment.file.file.vars.full_name }}" class="uploadFile img" value="" style="width: 0px;height: 0px;overflow: hidden;">
                                        </label>
                                        {% for error in attachment.file.vars.errors %}
                                            <div class="invalid-feedback">{{ error.message }}</div>
                                        {% endfor %}
                                        <div class="form-group">
                                            <label for="kind-job">Image Type</label>
                                            <select class="form-control" id="kind-job" name="{{ attachment.type.vars.full_name }}">
                                                {% if attachment.type.vars.data is not empty %}
                                                    <option value="{{ attachment.type.vars.value }}">{{ attachment.type.vars.value }} - IS SELECTED</option>
                                                {% else %}
                                                    <option value="null">NOT SELECT</option>
                                                {% endif %}
                                                {% for choice in attachment.type.vars.choices %}
                                                    <option value="{{ choice.value }}">{{ choice.label }}</option>
                                                {% endfor %}
                                            </select>
                                            {% if isFirst != true %}
                                                <i class="fa fa-times del delete_item"></i>
                                            {% endif %}
                                            {% for error in attachment.type.vars.errors %}
                                                <div class="invalid-feedback">{{ error.message }}</div>
                                            {% endfor %}
                                        </div>

                            </div><!-- col-2 -->
                                {% set isFirst = false %}
                            {% endfor %}
                            <i class="fa fa-plus imgAdd"></i>
                        </div><!-- row -->
                    </div>

                </div>

            </div>
            <button type="submit" style="width: 150px;
    height: 50px;
    margin-bottom: 20px;" class="btn btn-success">Submit</button>
        </form>
    </div>

{% endblock %}