{% extends '@layouts_pizza/base.html.twig' %}



{% block container %}

    {#{{ dump(form) }}#}
    <div class="w-100">
        <h3>TESTING PRODUCT</h3>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}