{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <div class="w-50">
        <form name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}">
            <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
            <fieldset>
                <legend>Time Managements</legend>

                <div class="form-group">
                    <label for="exampleSelect1">Select The Job</label>
                    <select class="form-control w-25{% if form.jobKind.vars.errors is not empty %} is-invalid{% endif %}" id="exampleSelect1" name="{{ form.jobKind.vars.full_name }}">
                        {% if form.jobKind.vars.value is not empty %}
                            <option selected value="{{ form.jobKind.vars.value }}">{{ form.jobKind.vars.data.job }} - selected</option>
                        {% else %}
                            <option value="">NOT SELECT</option>
                        {% endif %}
                        {% for choice in form.jobKind.vars.choices %}
                            <option value="{{ choice.value }}">{{ choice.label }}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.jobKind.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Enter The count of cooks.</label>
                    <input type="number" value="{{ form.countCooks.vars.value }}" name="{{ form.countCooks.vars.full_name }}" class="form-control w-25{% if form.countCooks.vars.errors is not empty %} is-invalid{% endif %}" placeholder="">
                    {% for error in form.countCooks.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter minutes that job is Takes.</label>
                    <input type="number" value="{{ form.minutes.vars.value }}" name="{{ form.minutes.vars.full_name }}" class="form-control w-25{% if form.minutes.vars.errors is not empty %} is-invalid{% endif %}" placeholder="">
                    {% for error in form.minutes.vars.errors %}
                        <div class="invalid-feedback">{{ error.message }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>

{% endblock %}