{% extends '@layouts_pizza/base.html.twig' %}

{% block container %}

    <ul class="nav nav-tabs">
        {% set active = true %}
        {% for tabHead in timeManagements %}
            <li class="nav-item">
                <a class="nav-link{% if active %} active{% set active = false %}{% endif %}" data-toggle="tab" href="#{{ tabHead.job ~ '_' ~ tabHead.id }}">{{ tabHead.job }}</a>
            </li>
        {% endfor %}
    </ul>
    <div id="myTabContent" class="tab-content p-t-15">
        {% set active = true %}
        {% for tabBody in timeManagements %}
        <div class="tab-pane fade {% if active %} active {% set active = false %}{% endif %}show" id="{{ tabBody.job ~ '_' ~ tabBody.id }}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Count Cooks</th>
                    <th scope="col">Minutes</th>
                    <th scope="col">Controls</th>
                </tr>
                </thead>
                <tbody>

                {% for time in tabBody.timeManagements %}

                    <tr>
                        <th scope="row">{{ time.id }}</th>
                        <td>{{ time.countCooks }}</td>
                        <td>{{ time.minutes }}</td>
                        <td class="align-self-center">
                            <a href="{{ path('time_management_modify', {'id': time.id}) }}" class="m-r-5">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{{ path('time_management_delete', {'id': time.id}) }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

{% endblock %}