{% if data is not empty %}

    <div class="d-inline-block">
        <div id="calendar" class="calendar-main"></div>
        <div class="calendar-info" style="display: none;">
            <script type="text/javascript">
                window.globalData = {{ data|raw }};
            </script>
        </div>
    </div>

{% endif %}